body {
    /* background-image: url(./composition-with-white-roses-mother-s-day_23-2147612505.avif);
background-repeat:no-repeat;
background-position: center;
background-size: cover; */

    background: url(./composition-with-white-roses-mother-s-day_23-2147612505.avif) no-repeat center/cover;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Science Gothic", sans-serif;

}

.card {
    background-color: red;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.card-header {
    background-color: #81d2e3;
    padding: 20px 30px 25px 35px;
    border-top-left-radius: 10px;






}

.card-body {
    padding: 15px;




}

.card-footer {
    background-color: rgb(233, 208, 20);
    padding: 15px;
}

.card-btn {
    background-color: green;
    padding:10px ;
    cursor: pointer;
border-radius:  15px ;
border:none;
color: beige;
text-transform: uppercase;
font-weight: 600;
transition:all 1s ;
}

.card-btn:hover{ 
    background-color: #13c2e4;
    box-shadow:5px 8px 10px ;
    transform: scale(1.5);

    
}








